{% extends "base.html" %}
{% block title %}Product page{% endblock %}
{% block extra_head %}
{% endblock %}
{% block content %}
    <!-- Product block -->
    <h4 class="text-center"><a href="#">{{ product.name }}</a> € {{ product.price }}</h4>
    <div class="well">{{ product.description|striptags|linebreaksbr }}</div>
    <hr>

    <!-- Success massage after comment product -->
    {% if messages %}
        <div class="alert alert-success" role="alert">
            {% for message in messages %}
                <a href="#" class="alert-link">{{ message }}</a>
            {% endfor %}
        </div>
    {% endif %}

    <!-- Comment form -->
    <form method="post">{% csrf_token %}
        {{ form.errors.text }}
        <div class="input-group">
            <input type="text" class="form-control" placeholder="Comment..." id="id_text" name="text">
            <span class="input-group-btn">
                <input type="submit" value="Send" id="sendbutton" class="btn btn-default"/>
            </span>
        </div>
    </form>
    <br>

    <!-- Like button -->
    <button class="btn btn-primary" type="button">
       <span class="glyphicon glyphicon-heart" aria-hidden="true"></span> Like <span class="badge">4</span>
    </button>

    <button class="btn btn-primary" type="button">
       <span class="glyphicon glyphicon-heart" aria-hidden="true"></span> Unlike <span class="badge">4</span>
    </button>

    <!-- Comment list -->
    <br><br>
    {% for comment in comments %}
        <div class="well">
            <a name="{{ comment.pk }}"></a>
            {{ comment.created_at }}  {% if comment.user != None %}{{ comment.user|capfirst }}{% endif %}
            <br><br>
            {{ comment.text|striptags|linebreaksbr }}
        </div>
        <hr>
    {% endfor %}

{% endblock %}