{% extends "base.html" %}
{% block title %}Product list{% endblock %}
{% block extra_head %}
{% endblock %}
{% block content %}
    {% for product in products %}
        {{ product.name }},{{ product.description }},{{ product.price }}<br>
    {% endfor %}

    <div class="pagination">
    <span class="step-links">
        {% if products.has_previous %}
            <a href="?page={{ products.previous_page_number }}">previous</a>
        {% endif %}
        <span class="current">
            Page {{ products.number }} of {{ products.paginator.num_pages }}.
        </span>

        {% if products.has_next %}
            <a href="?page={{ products.next_page_number }}">next</a>
        {% endif %}
    </span>
    </div>


{% endblock %}